@model Petrolcalculator.Core.Applications.Models.Json.ListRequests.Implementation.PetrolDataServiceResultModel
<p>
    @Model.Diesel € (Diesel)
</p>
<p>
    @Model.E5 € (E5)
</p>
<p>
    @Model.E10 € (E10)
</p>

