<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile"
              xsi:type="File"
              fileName="${basedir}/Log/${logger}.log"
              layout="${longdate} ${logger} ${message}"
              archiveFileName="${basedir}/Log/Archives/${logger}.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false" 
              encoding="iso-8859-2"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- General Options -->
    <add key="Logging" value="true" />
    <!-- Request Option -->
    <!-- Key für den Zugriff auf die freie Tankerkönig-Spritpreis-API
         Für eigenen Key bitte hier https://creativecommons.tankerkoenig.de
         registrieren. -->
    <add key="TankerkoenigApiKey" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />   
    <!-- For usage replace this dummy key with you own-->
    <add key="GoogleMapsApiKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>    
    <!-- Time in Min less than 60, default is 4 -->
    <add key="DelayBetweenTwoIdenticalRequests" value="4" />
    <!-- Analytics Options-->
    <!-- Time in ms default is 600000-->
    <add key="DelayWhileDataCollection" value="600000" />
    <!-- Pipe Seperated IDs of Petrol Stations-->
    <add key="FavoritePetrolStations" value="005056ba-7cb6-1ed2-bceb-b1139ea28d45|11571341-3296-4f16-a363-28b8c188872c|51d4b683-a095-1aa0-e100-80009459e03a|5125f112-5d50-4a79-8751-70e7c31fa7fe|5c97286d-228e-4def-8d30-2c2f63668b92" />
    <!-- Path for Serialization the Analyticsdata, default is Serialization/AnalyticsDataModel -->
    <add key="AnaylticsSerializationPathFromWebRoot" value="Serialization/AnalyticsDataModel" />
    <!-- Request Base Urls (Without Parameters)-->
    <add key="BaseListUrl" value="https://creativecommons.tankerkoenig.de/json/list.php" />
    <add key="BaseDetailUrl" value="https://creativecommons.tankerkoenig.de/json/detail.php" />
    <add key="BasePriceUrl" value="https://creativecommons.tankerkoenig.de/json/prices.php" />
    <add key="BaseGoogleGeolocationService" value="https://maps.googleapis.com/maps/api/geocode/json" />
    <!-- Base Settings -->
    <!-- Positive Value in Km, default is 5 -->
    <add key="DistanceOfPetrolStationRequest" value="5" />
    <!-- Paging -->
    <add key="ElementsPerPage" value="20" />
    <add key="NumberOfPaingElements" value="5" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.web>
    <!-- Session is used to recognize the custom data collection thread and therefore a very huge value-->
    <sessionState cookieless="AutoDetect" mode="InProc" timeout="1440" />
  </system.web>
</configuration>
